*{
  margin:0; padding: 0;
  font-family: sans-serif;
}

body{
  margin: 40px auto;
  width: 80%;
}

.each_article{
  background-color: rgb(160, 171, 170);
  color: #fff;
  padding: 5px;
  margin: 5px;
}

h1{
  margin-bottom: 30px;
}

.time, .tag{
  font-size: 11px;
}

#menu {
  margin:10px  0;
}

#menu a{
  color: #000;
  margin-right: 10px;
}

#footer{
  margin-top: 30px;
}

#error{
  color: red;
}
